<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shows4.App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/user_styles.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Shows4.App.styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

 
</head>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<body>
    <header class="headerColor">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light headerColor border-bottom box-shadow mb-3">
            
                
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="~/images/logo2.jpeg" alt="Meu logotipo" width="100" height="50">
                </a>
                
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation" >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark"  asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>                        
                            
                      
                       
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/User/HomePageUser">UserView</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
            <!-- Opçoes de Adminstrador -->
            @if (User.IsInRole("Admin"))
            {
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Menu Admin
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="/Entities/Series/Index">Series</a></li>
                        <li><a class="dropdown-item" href="/Entities/Casts/Index">Elenco</a></li>
                        <li><a class="dropdown-item" href="/Entities/Writers/Index">Realizadores</a></li>
                        <li><a class="dropdown-item" href="/Entities/Genres/Index">Generos</a></li>
                        <li><a class="dropdown-item" href="/Entities/Countries/Index">Paises</a></li>
                    </ul>
                </div>
            }
        </nav> <!--Fim Da NAv-->

    </header>
    <!-- Body -->

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!--FOOTER-->
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Shows4.App - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>