@page
@model Shows4.App.Pages.Entities.Series.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Serie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Serie.Id" />
            <div class="form-group">
                <label asp-for="Serie.Title" class="control-label"></label>
                <input asp-for="Serie.Title" class="form-control" />
                <span asp-validation-for="Serie.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Serie.Description" class="control-label"></label>
                <input asp-for="Serie.Description" class="form-control" />
                <span asp-validation-for="Serie.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Serie.Rating" class="control-label"></label>
                <input asp-for="Serie.Rating" class="form-control" />
                <span asp-validation-for="Serie.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Serie.RatingGlobal" class="control-label"></label>
                <input asp-for="Serie.RatingGlobal" class="form-control" />
                <span asp-validation-for="Serie.RatingGlobal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Serie.Price" class="control-label"></label>
                <input asp-for="Serie.Price" class="form-control" />
                <span asp-validation-for="Serie.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Serie.Image" class="control-label"></label>
                <input asp-for="Serie.Image" class="form-control" />
                <span asp-validation-for="Serie.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Serie.CountryId" class="control-label"></label>
                <select asp-for="Serie.CountryId" class="form-control" asp-items="ViewBag.CountryId"></select>
                <span asp-validation-for="Serie.CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Serie.SeasonId" class="control-label"></label>
                <select asp-for="Serie.SeasonId" class="form-control" asp-items="ViewBag.SeasonId"></select>
                <span asp-validation-for="Serie.SeasonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Serie.GenreId" class="control-label"></label>
                <select asp-for="Serie.GenreId" class="form-control" asp-items="ViewBag.GenreId"></select>
                <span asp-validation-for="Serie.GenreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
