@page "{id}"
@model Shows4.App.Pages.Entities.Episodes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Episode </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Episode.Number" class="control-label"></label>
                <input asp-for="Episode.Number" class="form-control" />
                <span asp-validation-for="Episode.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Episode.Title" class="control-label"></label>
                <input asp-for="Episode.Title" class="form-control" />
                <span asp-validation-for="Episode.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Episode.Description" class="control-label"></label>
                <input asp-for="Episode.Description" class="form-control" />
                <span asp-validation-for="Episode.Description" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" asp-route-id="@Model.Id">Back to List </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
