.series {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
   
.serie-card {
    flex-basis: 20%;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/*.serie-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
    */
.serie-image img {
    width: 100%;
}

.serie-info {
    padding: 10px;
   
}
a .serie-info {
    padding: 10px;
    text-decoration: none;
    color: black;
}

    .serie-info h4 {
        text-align: center; 
    }
.serie-info2 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    text-decoration: none;
    color: black;
}

.navpagination {
    display: flex;
    justify-content: center;
    
}
.linkseries{
    text-decoration:none;
    color: black;
}
    .linkseries:hover {
        text-decoration: none;
        color: black;
    }